extends ../layout

block content
  h1 설문 작성
  
  form(action='/posts', method='POST')
    .form-group
      label(for='email') 이메일
      input.form-control(name='email')
    .form-group
      label(for='title') 제목
      input.form-control(name='title')
    .form-group
      label(for='content') 내용
      textarea.form-control(name='content')
      hr
    a.btn.btn-primary.btn-mini 설문추가
    hr
    .form-action
      a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
      | &nbsp;
      button.btn.btn-default(type='submit') 설문제작
  
